<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MOVE TO EN - TODO</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="//unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <script src="//unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/js-cookie"></script>
    <script src="https://unpkg.com/@element-plus/icons-vue"></script>
    <script>
      tailwind.config = {
        theme: {
          screens: {
            "2xl": { max: "1500px" },
            xl: { max: "1279px" },
            lg: { max: "1023px" },
            md: { max: "767px" },
            sm: { max: "639px" },
          },
        },
      };
    </script>
  </head>
  <body class="w-full flex flex-col items-center box-border">
    <header class="flex justify-between w-full shadow py-7 px-24 xl:px-5">
      <a href="https://movetoen.com/" class="font-bold text-xl">MOVE TO EN</a>
      <div class="relative">
        <input
          id="webSearch"
          type="text"
          class="rounded peer z-0 px-2 py-1 mr-4 placeholder:font-light w-40 focus:outline-0 text-sm"
        />
        <ion-icon
          name="search-outline"
          onclick="searchWeb()"
        ></ion-icon>
      </div>
      <div
        class="text-[18px] font-semibold [&>a:not(:last-child)]:mr-12 last:mr-0"
      >
        <a href="https://movetoen.com/#discussion">Discussion</a>
        <a href="/">Todos</a>
        <a
          href="https://www.notion.so/PLAN-e172adcd467347a7bbfeb5bcd9ca1869"
          target="_blank"
          >Landed Plan</a
        >
        <a
          target="_blank"
          href="https://hkustconnect-my.sharepoint.com/personal/wcleeaf_connect_ust_hk/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fwcleeaf_connect_ust_hk%2FDocuments%2FManchester%202023&ga=1"
          >Drive</a
        >
        <a
          target="_blank"
          href="https://hkustconnect-my.sharepoint.com/:f:/g/personal/lwngaa_connect_ust_hk/EoZTtT4PzRhAgwaBTVqUIBQBMqcR2YHf4KSzeNN8kVDQOw?e=2yrzfU"
          >Drive 2
        </a>
      </div>
    </header>

    <div
      id="todo_app"
      class="mt-10 text-slate-600 flex flex-col items-center 2xl:items-start px-20 xl:px-5 w-full box-border overflow-x-hidden"
    >
      <div v-if="isLoading" class="absolute top-[84px] loading-bar"></div>
      <div class="overflow-x-hidden 2xl:w-full">
        <div class="w-full flex flex-row-reverse">
          <div class="flex items-center text-slate-400">
            <ion-icon name="time-outline" class="text-lg mr-1"></ion-icon>
            <span class="text-xs"
              >{{((new Date('2023-09-12') - new
              Date())/1000/60/60/24).toFixed(0)}} days remaining</span
            >
          </div>
        </div>

        <div class="flex items-center pb-5">
          <div class="relative">
            <input
              v-model="seachKeyword"
              type="text"
              class="border border-slate-300 rounded peer z-0 px-2 py-1 mr-4 w-[70px] placeholder:font-light focus:w-40 transition placeholder:opacity-0 focus:placeholder:opacity-100 placeholder:text-sm"
              placeholder="Search this board"
              :class="seachKeyword === '' ? 'w-[70px]' : 'w-40'"
            />
            <ion-icon
              name="search-outline"
              class="absolute top-2 left-10 z-10 peer-focus:opacity-0"
              :class="seachKeyword.length > 0 ? 'opacity-0' : 'opacity-100'"
            ></ion-icon>
          </div>
          <div class="flex my-2 mr-8">
            <div class="flex flex-col items-center mr-1">
              <el-progress type="circle" :percentage="calWill" width="50">
                <button
                  class="bg-emerald-700 rounded-full w-10 h-10 font-bold text-white text-lg"
                  :class="selectedPerson !== 'WILL' ? 'opacity-30' : ''"
                  @click="selectPerson('WILL')"
                >
                  W
                </button>
              </el-progress>
              <span class="text-xs text-slate-500">{{calWill}} %</span>
            </div>
            <div class="flex flex-col items-center">
              <el-progress type="circle" :percentage="calLik" width="50">
                <button
                  class="bg-blue-900 rounded-full w-10 h-10 font-bold text-white text-lg"
                  :class="selectedPerson !== 'LIK' ? 'opacity-30' : ''"
                  @click="selectPerson('LIK')"
                >
                  L
                </button>
              </el-progress>
              <span class="text-xs text-slate-500">{{calLik}} %</span>
            </div>
          </div>
          <div class="mr-8">
            <button
              class="text-sm font-bold px-3 py-2 rounded mx-1 hover:bg-slate-100 transition"
              @click="TofilterUrgent(0)"
              :class="filterUrgent === 0 ? 'bg-slate-100 text-slate-600' : 'text-emerald-400'"
            >
              N
            </button>
            <button
              @click="TofilterUrgent(1)"
              class="text-sm font-bold px-3 py-2 rounded mx-1 hover:bg-slate-100 transition"
              :class="filterUrgent === 1 ? 'bg-slate-100 text-slate-600' : 'text-yellow-400 '"
            >
              H
            </button>
            <button
              @click="TofilterUrgent(2)"
              class="text-sm font-bold px-3 py-2 rounded mx-1 hover:bg-slate-100 transition"
              :class="filterUrgent === 2 ? 'bg-slate-100 text-slate-600' : 'text-red-400'"
            >
              U
            </button>
          </div>
          <div class="mr-8">
            <input
              id="filterDeadlineInput"
              type="text"
              placeholder="12/9"
              @blur="e => filterDeadline = e.target.value"
              class="w-16 rounded px-3 py-2 hover:bg-slate-100 text-sm text-slate-600 placeholder-slate-600 font-bold flex justify-center"
            />
          </div>
          <div class="">
            <button
              @click="clearFilter"
              class="text-sm hover:bg-slate-100 text-slate-600 rounded px-3 py-2 font-bold active:scale-90 mr-8"
            >
              CLEAR
            </button>
          </div>
          <el-dropdown>
            <button
              class="text-sm hover:bg-slate-100 text-slate-600 rounded px-3 py-2 font-bold active:scale-90 mr-8 hover:outline-0"
            >
              MORE
            </button>
            <template #dropdown>
              <el-dropdown-menu class="bg-white">
                <el-dropdown-item @click="showAllTodo" class="font-bold my-2"
                  >{{showHiddenTodo ? 'HIDDEN TODO' :'ALL TODO'}}
                </el-dropdown-item>
                <el-dropdown-item
                  @click="toggleShowDiary"
                  class="font-bold my-2"
                >
                  {{showMyDiary ? 'TODO' :'MY DIARY'}}
                </el-dropdown-item>
              </el-dropdown-menu>
            </template>
          </el-dropdown>
        </div>
        <div class="overflow-x-scroll xl:w-screen flex flex-col items-start">
          <div
            v-if="!showMyDiary"
            class="grid gap-x-3"
            :class="showHiddenTodo ? 'grid-cols-5' : 'grid-cols-3'  "
            :style="`width: ${showHiddenTodo ? '1500px':'900px'}`"
          >
            <div
              v-for="(step, index) in ['DELETED','TO DO', 'IN PROGRESS', 'DONE', 'HIDDEN']"
              class="bg-slate-100 py-4 px-2 rounded transition"
              v-show="showHiddenTodo || (index !== 4 && index !==0)"
            >
              <div class="flex justify-between items-center">
                <h1 class="text-slate-400 font-bold text-xs">
                  {{step}} {{filteredTodos.filter(t => t.status ===
                  index-1).length}}
                </h1>
                <button
                  v-if="index===1"
                  @click="newTodo"
                  class="text-xs text-gray-400 bg-gray-200 px-2 rounded hover:text-gray-700 transition hover:font-bold"
                >
                  NEW
                </button>
              </div>

              <div>
                <div
                  v-for="todo in filteredTodos.filter(t => t.status === index-1)"
                  :key="todo.title"
                  class="group bg-white my-2 shadow p-2 rounded flex flex-col items-start cursor-pointer"
                  draggable="true"
                  @dragstart="e=>onTodoDrag(e, todo)"
                  @dragend="onTodoDrop"
                  @dragover="e=>e.preventDefault()"
                >
                  <div class="flex justify-between w-full">
                    <input
                      class="hover:bg-gray-100 rounded px-1 w-full"
                      type="text"
                      :value="todo.title"
                      @blur="e=>submitTodoTitle(todo._id, e)"
                    />
                    <div
                      class="text-xs grid grid-cols-1 opacity-0 group-hover:opacity-100 transition"
                    >
                      <!-- <button
                        @click="stepDown(todo._id, todo.status)"
                        class="text-gray-500 bg-gray-100 rounded px-1"
                      >
                        ❮
                      </button>
                      <button
                        @click="stepUp(todo._id, todo.status)"
                        class="text-yellow-500 bg-yellow-100 rounded px-1"
                      >
                        ❯
                      </button> -->
                      <button
                        @click="addTodoDescription(todo._id)"
                        class="bg-slate-100 rounded px-1 font-bold"
                        v-show="!todo.description"
                      >
                        ⇩
                      </button>
                    </div>
                  </div>
                  <!-- <textarea
                    v-show="todo.description"
                    :rows=""
                    :value="todo.description"
                    
                    class="px-2 py-1 hover:bg-slate-100 rounded w-full mt-2 text-sm"
                  ></textarea> -->

                  <el-input
                    v-show="todo.description === '' || todo.description"
                    placeholder="more"
                    v-model="todos[todos.findIndex(i => i._id === todo._id)].description"
                    autosize
                    type="textarea"
                    @blur="e=>submitTodoDescription(todo._id, e)"
                  ></el-input>
                  <div
                    @click="toggleUrgent(todo._id, todo.urgent)"
                    v-if="step !== 'DONE'"
                  >
                    <button
                      v-if="todo.urgent === 0"
                      class="bg-emerald-50 text-xs text-emerald-400 font-bold px-1 rounded my-2 mx-1"
                    >
                      NORMAL
                    </button>
                    <button
                      v-else-if="todo.urgent === 1"
                      class="bg-yellow-100 text-xs text-yellow-400 font-bold px-1 rounded my-2 mx-1"
                    >
                      HURRY
                    </button>
                    <button
                      v-else-if="todo.urgent === 2"
                      class="bg-red-100 text-xs text-red-400 font-bold px-1 rounded my-2 mx-1"
                    >
                      URGENT
                    </button>
                  </div>
                  <button
                    v-else
                    class="bg-slate-100 text-xs text-slate-400 font-bold px-1 rounded my-2 mx-1"
                  >
                    DONE
                  </button>
                  <div class="flex justify-between w-full">
                    <input
                      @blur="e => updateTodoDeadline(todo._id, e)"
                      class="text-xs px-1"
                      type="text"
                      :value="todo.deadline"
                    />
                    <button
                      class="text-xs px-1 rounded text-white"
                      @click="togglePerson(todo._id, todo.person)"
                      :class="todo.person === 'WILL' ? 'bg-emerald-700' : 'bg-blue-900'"
                    >
                      {{todo.person}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <div
              v-for="logger in loggers"
              class="[&>div]:mr-4 w-[900px] flex my-7 text-lg"
            >
              <div>{{logger.createdAt.substring(5,10)}}</div>
              <div
                class="text-white px-2 rounded-xl font-bold"
                :class="logger.person === 'WILL' ? 'bg-green-800': 'bg-blue-900' "
              >
                {{logger.person}}
              </div>
              <div>
                <span
                  v-for="word in logger.description?.split(' ')"
                  :class="handleWordStyle(word)"
                  >{{word + ' '}}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer
      class="bg-black text-white w-full h-80 flex flex-col items-center justify-center mt-40"
    >
      <p class="mb-16">FOR A BETTER LIVE | ONLY LIVE ONCE</p>
      <p>WAI & WAI</p>
    </footer>
  </body>
  <script>
    const todo_app = Vue.createApp({
      data() {
        return {
          selectedPerson: "",
          todos: [],
          api: "https://api.dse00.com:3000",
          // api: "http://localhost:3002",
          focusTodo: null,
          filterUrgent: null,
          filterDeadline: "",
          showHiddenTodo: false,
          TodoDragged: {},
          isLoading: false,
          showMyDiary: false,
          loggers: [],
          seachKeyword: "",
        };
      },
      mounted() {
        this.loadTodo();
        this.selectedPerson = Cookies.get("selectedPerson") || "";
      },
      methods: {
        async loadTodo() {
          this.todos = await this.makeRequest("todos");
          this.isLoading = false;
        },
        async makeRequest(url, method = "GET", params = {}) {
          if (method !== "GET" && Cookies.get("password") !== "899009") {
            const password = prompt("password?");
            if (password !== "899009") return;
            Cookies.set("password", password);
          }
          this.isLoading = true;
          const fullUrl = `${this.api}/${url}`;
          let _response;
          if (method === "GET") {
            _response = await fetch(fullUrl);
          } else {
            _response = await fetch(fullUrl, {
              method,
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(params),
            });
          }
          return _response.json();
        },
        async stepUp(id, s) {
          if (s === 3) return;
          if (s === 2) {
            const yes = confirm("confirm hidden?");
            if (!yes) return;
          }

          this.todos[this.todos.findIndex((i) => i._id === id)].status = s + 1;
          await this.makeRequest(`todos/${id}`, "PUT", {
            status: s + 1,
          });
          this.loadTodo();
        },
        async stepDown(id, s) {
          if (s === -1) return;
          if (s === 0) {
            const yes = confirm("confirm delete?");
            if (!yes) return;
          }
          this.todos[this.todos.findIndex((i) => i._id === id)].status = s - 1;
          await this.makeRequest(`todos/${id}`, "PUT", {
            status: s - 1,
          });
          this.loadTodo();
        },
        async submitTodoTitle(id, e) {
          await this.makeRequest(`todos/${id}`, "PUT", {
            title: e.target.value,
          });
          this.loadTodo();
        },
        async submitTodoDescription(id, e) {
          await this.makeRequest(`todos/${id}`, "PUT", {
            description: e.target.value || null,
          });
          this.loadTodo();
        },
        async toggleUrgent(id, u) {
          this.todos[this.todos.findIndex((i) => i._id === id)].urgent =
            u === 2 ? 0 : u + 1;
          await this.makeRequest(`todos/${id}`, "PUT", {
            urgent: u === 2 ? 0 : u + 1,
          });
          this.loadTodo();
        },
        async newTodo() {
          await this.makeRequest(`todos`, "POST", {
            title: "New Todo",
            person: this.selectedPerson ?? "WILL",
          });
          this.loadTodo();
        },
        async updateTodoDeadline(id, e) {
          await this.makeRequest(`todos/${id}`, "PUT", {
            deadline: e.target.value,
          });
          this.loadTodo();
        },
        async togglePerson(id, p) {
          this.todos[this.todos.findIndex((i) => i._id === id)].person =
            p === "WILL" ? "LIK" : "WILL";
          await this.makeRequest(`todos/${id}`, "PUT", {
            person: p === "WILL" ? "LIK" : "WILL",
          });
          this.loadTodo();
        },
        selectPerson(p) {
          if (this.selectedPerson === p) {
            this.selectedPerson = "";
            return;
          }
          this.selectedPerson = p;
          Cookies.set("selectedPerson", p);
        },
        TofilterUrgent(u) {
          if (this.filterUrgent === u) {
            this.filterUrgent = null;
            return;
          }
          this.filterUrgent = u;
        },
        clearFilter() {
          this.seachKeyword = "";
          this.filterUrgent = null;
          this.filterDeadline = "";
          this.selectedPerson = "";
          this.showHiddenTodo = false;
          this.showMyDiary = false;
          document.querySelector("#filterDeadlineInput").value = "";
        },
        showAllTodo() {
          this.showHiddenTodo = !this.showHiddenTodo;
          this.showMyDiary = false;
        },
        onTodoDrag(e, todo) {
          this.TodoDragged = { todo, screenX: e.screenX };
        },
        onTodoDrop(e) {
          if (e.screenX - this.TodoDragged.screenX > 200) {
            this.stepUp(
              this.TodoDragged.todo._id,
              this.TodoDragged.todo.status
            );
          } else if (e.screenX - this.TodoDragged.screenX < -200) {
            this.stepDown(
              this.TodoDragged.todo._id,
              this.TodoDragged.todo.status
            );
          }
        },
        addTodoDescription(id) {
          this.todos[this.todos.findIndex((i) => i._id === id)].description =
            "";
        },
        async toggleShowDiary() {
          this.showMyDiary = !this.showMyDiary;
          if (this.showMyDiary) {
            this.loggers = await this.makeRequest("loggers");
          }
          this.isLoading = false;
        },
        handleWordStyle(word) {
          const common = "font-medium";
          let style;
          if (word === "DONE") style = "text-green-500";
          if (word === "PROGRESS") style = "text-yellow-500";
          if (word === "URGENT") style = "text-red-500";
          if (word === "HURRY") style = "text-yellow-500";
          if (word === "CREATE") style = "text-green-500";
          if (word === "NORMAL") style = "text-slate-300";

          return common + " " + style;
        },
      },
      computed: {
        filteredTodos() {
          let _filteredTodo = [...this.todos];

          if (this.seachKeyword !== "") {
            _filteredTodo = _filteredTodo.filter(
              (t) =>
                t.title
                  .toLowerCase()
                  .includes(this.seachKeyword.toLowerCase()) ||
                (t.description &&
                  t.description
                    .toLowerCase()
                    .includes(this.seachKeyword.toLowerCase())) ||
                t.deadline.includes(this.seachKeyword)
            );
          }
          if (this.selectedPerson !== "") {
            _filteredTodo = _filteredTodo.filter(
              (t) => t.person === this.selectedPerson
            );
          }
          if (this.filterUrgent !== null) {
            _filteredTodo = _filteredTodo.filter(
              (t) => t.urgent === this.filterUrgent
            );
          }
          if (this.filterDeadline !== "") {
            _filteredTodo = _filteredTodo.filter((t) => {
              const date_array = t.deadline.split("/");
              const todoDate = new Date(
                `2023-${date_array[1]}-${date_array[0]}`
              );
              const filterDate = new Date(
                `2023-${this.filterDeadline.split("/")[1]}-${
                  this.filterDeadline.split("/")[0]
                }`
              );
              return filterDate >= todoDate;
            });
          }
          return _filteredTodo;
        },
        calWill() {
          const total = this.todos.filter(
            (t) => t.person === "WILL" && t.status !== -1 && t.status !== 3
          ).length;
          const done = this.todos.filter(
            (t) => t.person === "WILL" && t.status === 2
          ).length;
          const inProgress = this.todos.filter(
            (t) => t.person === "WILL" && t.status === 1
          ).length;
          const val = done + inProgress / 2;
          return val > 0 ? ((val / total) * 100).toFixed(0) : 0;
        },
        calLik() {
          const total = this.todos.filter(
            (t) => t.person === "LIK" && t.status !== -1 && t.status !== 3
          ).length;
          const done = this.todos.filter(
            (t) => t.person === "LIK" && t.status === 2
          ).length;
          const inProgress = this.todos.filter(
            (t) => t.person === "LIK" && t.status === 1
          ).length;
          const val = done + inProgress / 2;
          return val > 0 ? ((val / total) * 100).toFixed(0) : 0;
        },
      },
    });
    todo_app.use(ElementPlus);
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
      todo_app.component(key, component);
    }
    todo_app.mount("#todo_app");

    const searchWeb = () => {
      const keyword = document.querySelector("#webSearch").value;
      window.location.href = (`https://movetoen.com/?s=${keyword}`);
    };
  </script>

  <style>
    .el-textarea__inner {
      box-shadow: none;
    }

    @keyframes loading {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }

    .loading-bar {
      height: 2px;
      left: 0;
      width: 100%;
      background: #000;
      animation: loading 1.5s infinite;
    }

    .demo-progress .el-progress--line {
      margin-bottom: 15px;
      width: 100px;
    }
  </style>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
