<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MOVE TO EN - TODO</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="//unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <script src="//unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/js-cookie"></script>
    <script src="https://unpkg.com/@element-plus/icons-vue"></script> -->
    <link rel="stylesheet" href="./lib/css/element-plus.css" />
    <link rel="icon" type="image/x-icon" href="/avator.png" />
    <script src="./lib/js/vue.global.js"></script>
    <script src="./lib/js/element-plus.js"></script>
    <script src="./lib/js/js-cookie.js"></script>
    <script src="./lib/js/icons-vue.js"></script>
    <link rel="stylesheet" href="./index.css" />
    <script src="./lib/js/tailwind.js"></script>
    <script src="./tailwind.config.js"></script>
  </head>
  <body class="w-full flex flex-col items-center box-border">
    <header
      class="flex justify-between w-full shadow py-7 px-24 xl:px-5 z-10 relative bg-white"
    >
      <a href="https://movetoen.com/" class="font-bold text-xl">MOVE TO EN</a>
      <div class="relative">
        <input
          id="webSearch"
          type="text"
          class="rounded peer z-0 px-2 py-1 mr-4 placeholder:font-light w-40 focus:outline-0 text-sm"
        />
        <ion-icon name="search-outline" onclick="searchWeb()"></ion-icon>
      </div>
      <div
        class="text-[18px] font-semibold [&>a:not(:last-child)]:mr-12 last:mr-0"
      >
        <a href="https://api.dse00.com:3003">Q&A Notes</a>
        <a href="/">Todos</a>
        <a
          href="https://www.notion.so/PLAN-e172adcd467347a7bbfeb5bcd9ca1869"
          target="_blank"
          >Landed Plan</a
        >
        <a
          target="_blank"
          href="https://hkustconnect-my.sharepoint.com/personal/wcleeaf_connect_ust_hk/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fwcleeaf_connect_ust_hk%2FDocuments%2FManchester%202023&ga=1"
          >Drive</a
        >
        <a
          target="_blank"
          href="https://hkustconnect-my.sharepoint.com/:f:/g/personal/lwngaa_connect_ust_hk/EoZTtT4PzRhAgwaBTVqUIBQBMqcR2YHf4KSzeNN8kVDQOw?e=2yrzfU"
          >Drive 2
        </a>
      </div>
    </header>

    <div
      id="todo_app"
      class="mt-10 text-slate-600 flex flex-col items-center 2xl:items-start px-20 xl:px-5 w-full box-border overflow-x-hidden opacity-0 min-h-[72vh]"
    >
      <div
        class="absolute top-20 left-0 h-full w-16 border-r border-slate-200 flex flex-col items-center pt-14"
      >
        <a
          href=""
          class="bg-gray-100 w-full text-center py-4 hover:bg-slate-100"
        >
          <ion-icon name="list-outline" class="text-[26px]"></ion-icon>
        </a>
        <a
          href="https://api.dse00.com:3003/"
          class="hover:bg-gray-50 w-full text-center py-4 hover:bg-slate-100"
        >
          <ion-icon name="calendar-outline" class="text-[26px]"></ion-icon>
        </a>
        <a
          href="https://api.dse00.com:3003/luggage"
          class="hover:bg-gray-50 w-full text-center py-4 hover:bg-slate-100"
        >
          <ion-icon name="beer-outline" class="text-[26px]"></ion-icon>
        </a>
      </div>
      <div v-if="isLoading" class="absolute top-[84px] loading-bar"></div>
      <div class="overflow-x-hidden 2xl:w-full min-w-[52vw]">
        <div class="w-full flex items-center justify-between mb-4">
          <div class="font-bold text-xl flex items-center w-4/5">
            <el-popover placement="bottom-start" trigger="hover" width="300">
              <template #reference>
                <div class="flex items-center group">
                  <ion-icon
                    class="cursor-pointer mr-1 group-hover:hidden transition"
                    name="chevron-down-outline"
                  ></ion-icon>
                  <ion-icon
                    @click="switchPlan"
                    name="sync-outline"
                    class="cursor-pointer mr-1 hidden group-hover:block transition"
                  ></ion-icon>
                </div>
              </template>
              <div class="">
                <div
                  v-for="(plan, index) in allPlans"
                  class="rounded p-1 pt-3 w-full py-3 hover:bg-slate-50 my-1 active:bg-slate-100"
                  :class="`bg-slate-${plan._id === currentPlan._id ? '100' : '0'}`"
                >
                  <button
                    class="px-4 w-full rounded-full flex justify-start font-bold flex justify-between items-center"
                    @click="changePlan(plan._id)"
                  >
                    <span>{{plan.title}}</span>
                    <span class="text-xs text-slate-300">#{{index+1}}</span>
                  </button>
                </div>
                <div class="flex justify-between items-center">
                  <div class="rounded">
                    <button
                      @click="toMakeNewPlan"
                      class="px-4 rounded-full flex justify-start font-bold hover:bg-slate-100 py-2 my-1 transition"
                    >
                      <ion-icon
                        name="add-outline"
                        class="text-lg mr-2"
                      ></ion-icon>
                      <span class="text-xs"> NEW PLAN</span>
                    </button>
                  </div>
                  <button
                    @click="setPlanPassword"
                    class="mr-4 hover:bg-slate-100 rounded-full p-2"
                  >
                    <ion-icon
                      v-if="!currentPlan.password"
                      name="lock-open-outline"
                    ></ion-icon>
                    <div v-else>
                      <span class="text-xs text-rose-400 mr-2">LOCKED</span>
                      <ion-icon
                        name="lock-closed-outline"
                        class="text-rose-500 bg-rose-100 rounded-full"
                      ></ion-icon>
                    </div>
                  </button>
                </div>
              </div>
            </el-popover>
            <ion-icon
              @click="setPlanPassword"
              name="lock-closed-outline"
              v-if="currentPlan.password"
              class="text-slate-400 mr-2 cursor-pointer"
            ></ion-icon>

            <input
              class="hover:bg-gray-100 rounded px-1 w-full"
              type="text"
              :value="currentPlan.title"
              @blur="e=>submitPlanTitle(currentPlan._id, e)"
            />
          </div>
          <div class="flex items-center text-slate-400 group">
            <div class="flex items-center">
              <ion-icon name="time-outline" class="text-lg mr-1"></ion-icon>
              <input
                type="date"
                class="hidden group-hover:block text-sm"
                :value="currentPlan.deadline?.substring(0,10)"
                @blur="e=>changePlanDeadline(currentPlan._id,e)"
              />
            </div>
            <span class="text-xs group-hover:hidden" v-if="currentPlan.deadline"
              >{{((new Date(currentPlan.deadline) - new
              Date())/1000/60/60/24).toFixed(0)}} days remaining</span
            >
          </div>
        </div>
        <div class="mb-6">
          <input
            class="hover:bg-gray-100 rounded px-1 w-full"
            type="text"
            :value="currentPlan.description"
            placeholder="something about plan"
            @blur="e=>submitPlanDescription(currentPlan._id, e)"
          />
        </div>

        <div class="flex items-center pb-5">
          <div class="relative">
            <input
              v-model="seachKeyword"
              type="text"
              class="border border-slate-300 rounded peer z-0 px-2 py-1 mr-4 w-[70px] placeholder:font-light focus:w-40 transition placeholder:opacity-0 focus:placeholder:opacity-100 placeholder:text-sm"
              placeholder="Search this board"
              :class="seachKeyword.length > 0 ? '!w-40' : 'w-[70px]'"
            />
            <ion-icon
              name="search-outline"
              class="absolute top-2 left-10 z-10 opacity-100 peer-focus:opacity-0"
              :class="seachKeyword.length > 0 ? 'invisible' : '!visible'"
            ></ion-icon>
          </div>
          <div class="flex my-2 mr-8">
            <div class="flex flex-col items-center mr-1">
              <el-progress type="circle" :percentage="calWill" width="50">
                <button
                  class="bg-emerald-700 rounded-full w-10 h-10 font-bold text-white text-lg"
                  :class="selectedPerson !== 'WILL' ? 'opacity-30' : ''"
                  @click="selectPerson('WILL')"
                >
                  W
                </button>
              </el-progress>
              <span class="text-xs text-slate-500">{{calWill}} %</span>
            </div>
            <div class="flex flex-col items-center">
              <el-progress type="circle" :percentage="calLik" width="50">
                <button
                  class="bg-blue-900 rounded-full w-10 h-10 font-bold text-white text-lg"
                  :class="selectedPerson !== 'LIK' ? 'opacity-30' : ''"
                  @click="selectPerson('LIK')"
                >
                  L
                </button>
              </el-progress>
              <span class="text-xs text-slate-500">{{calLik}} %</span>
            </div>
          </div>
          <div class="mr-4">
            <button
              class="text-sm font-bold px-3 py-2 rounded mx-1 hover:bg-slate-100 transition"
              @click="TofilterUrgent(0)"
              :class="filterUrgent === 0 ? 'bg-slate-100 text-slate-600' : 'text-emerald-400'"
            >
              N
            </button>
            <button
              @click="TofilterUrgent(1)"
              class="text-sm font-bold px-3 py-2 rounded mx-1 hover:bg-slate-100 transition"
              :class="filterUrgent === 1 ? 'bg-slate-100 text-slate-600' : 'text-yellow-400 '"
            >
              H
            </button>
            <button
              @click="TofilterUrgent(2)"
              class="text-sm font-bold px-3 py-2 rounded mx-1 hover:bg-slate-100 transition"
              :class="filterUrgent === 2 ? 'bg-slate-100 text-slate-600' : 'text-red-400'"
            >
              U
            </button>
          </div>
          <el-popover placement="top-start" trigger="hover" width="200">
            <template #reference>
              <button
                class="w-5 h-5 rounded-full mr-8 border-2 border-slate-400"
                :class="`bg-${categories[filterCategory]}-300`"
              ></button>
            </template>
            <div class="flex justify-between">
              <div
                v-for="(cat, index) in categories"
                class="rounded p-1 pt-2"
                :class="`bg-slate-${filterCategory === index ? '100' : '0'}`"
              >
                <button
                  class="w-4 h-4 rounded-full"
                  :class="`bg-${cat}-300`"
                  @click="filterCategory = index"
                ></button>
              </div>
            </div>
          </el-popover>
          <div class="mr-8">
            <input
              id="filterDeadlineInput"
              type="text"
              placeholder="12/9"
              @blur="e => filterDeadline = e.target.value"
              class="w-16 rounded px-3 py-2 hover:bg-slate-100 text-sm text-slate-600 placeholder-slate-600 font-bold flex justify-center"
            />
          </div>
          <div class="">
            <button
              @click="clearFilter"
              class="text-sm hover:bg-slate-100 text-slate-600 rounded px-3 py-2 font-bold active:scale-90 mr-8"
            >
              CLEAR
            </button>
          </div>
          <el-dropdown>
            <button
              class="text-sm hover:bg-slate-100 text-slate-600 rounded px-3 py-2 font-bold active:scale-90 mr-8 hover:outline-0"
            >
              MORE
            </button>
            <template #dropdown>
              <el-dropdown-menu class="bg-white">
                <el-dropdown-item @click="showAllTodo" class="font-bold my-2"
                  >{{showHiddenTodo ? 'HIDDEN TODO' :'ALL TODO'}}
                </el-dropdown-item>
                <el-dropdown-item
                  @click="toggleShowDiary"
                  class="font-bold my-2"
                >
                  {{showMyDiary ? 'TODO' :'MY DIARY'}}
                </el-dropdown-item>
                <el-dropdown-item @click="exportExcel" class="font-bold my-2">
                  EXPORT EXCEL
                </el-dropdown-item>
              </el-dropdown-menu>
            </template>
          </el-dropdown>

          <el-popover
            placement="top-start"
            trigger="hover"
            :content="socketMessage"
          >
            <template #reference>
              <button @click="socketSendHeart" class="active:scale-90">
                <span class="text-3xl peer mr-2">{{socketIcon}}</span>
              </button>
            </template>
          </el-popover>
        </div>
        <div
          v-if="!showSecretPlan"
          class="w-full flex flex-col justify-center items-center text-xl my-20"
        >
          <div v-if="!isLoading">
            <div class="mb-4">This Plan is Locked</div>
            <input
              v-model="planPassword[currentPlan._id]"
              type="password"
              class="border-2 border-black rounded px-4 py-2 flex justify-center tracking-widest"
              @blur="enterPlanPassword"
              @keyup.enter="enterPlanPasswordKeyUp"
            />
          </div>
        </div>
        <div
          v-else
          class="overflow-x-scroll xl:w-screen flex flex-col items-start"
        >
          <div
            v-if="!showMyDiary"
            class="grid gap-x-3"
            :class="showHiddenTodo ? 'grid-cols-5' : 'grid-cols-3'  "
            :style="`width: ${showHiddenTodo ? '1500px':'900px'}`"
          >
            <div
              v-for="(step, index) in ['DELETED','TO DO', 'IN PROGRESS', 'DONE', 'HIDDEN']"
              class="bg-slate-100 py-4 px-2 rounded transition"
              v-show="showHiddenTodo || (index !== 4 && index !==0)"
            >
              <div class="flex justify-between items-center">
                <h1 class="text-slate-400 font-bold text-xs">
                  {{step}} {{filteredTodos.filter(t => t.status ===
                  index-1).length}}
                </h1>
                <button
                  v-if="index===1"
                  @click="newTodo"
                  class="text-xs text-gray-400 bg-gray-200 px-2 rounded hover:text-gray-700 transition hover:font-bold"
                >
                  NEW
                </button>
              </div>

              <div>
                <div
                  v-for="todo in filteredTodos.filter(t => t.status === index-1)"
                  :key="todo.title"
                  class="group bg-white my-2 shadow p-2 rounded flex flex-col items-start cursor-pointer"
                  draggable="true"
                  @dragstart="e=>onTodoDrag(e, todo)"
                  @dragend="onTodoDrop"
                  @dragover="e=>e.preventDefault()"
                >
                  <div class="flex justify-between w-full">
                    <input
                      class="hover:bg-gray-100 rounded px-1 w-full"
                      type="text"
                      :value="todo.title"
                      @blur="e=>submitTodoTitle(todo._id, e)"
                    />
                    <div
                      class="text-xs grid grid-cols-1 opacity-0 group-hover:opacity-100 transition"
                    >
                      <button
                        @click="addTodoDescription(todo._id)"
                        class="bg-slate-100 rounded px-1 font-bold"
                        v-show="!todo.description"
                      >
                        ⇩
                      </button>
                    </div>
                  </div>
                  <el-input
                    v-show="todo.description === '' || todo.description"
                    placeholder="more"
                    v-model="todos[todos.findIndex(i => i._id === todo._id)].description"
                    autosize
                    type="textarea"
                    @blur="e=>submitTodoDescription(todo._id, e)"
                  ></el-input>
                  <div
                    @click="toggleUrgent(todo._id, todo.urgent)"
                    v-if="step !== 'DONE'"
                  >
                    <button
                      v-if="todo.urgent === 0"
                      class="bg-emerald-50 text-xs text-emerald-400 font-bold px-1 rounded my-2 mx-1"
                    >
                      NORMAL
                    </button>
                    <button
                      v-else-if="todo.urgent === 1"
                      class="bg-yellow-100 text-xs text-yellow-400 font-bold px-1 rounded my-2 mx-1"
                    >
                      HURRY
                    </button>
                    <button
                      v-else-if="todo.urgent === 2"
                      class="bg-red-100 text-xs text-red-400 font-bold px-1 rounded my-2 mx-1"
                    >
                      URGENT
                    </button>
                    <button
                      v-else-if="todo.urgent === 3"
                      class="bg-red-600 text-xs text-white font-bold px-1 rounded my-2 mx-1"
                    >
                      EXTREMELY URGENT
                    </button>
                  </div>
                  <button
                    v-else
                    class="bg-slate-100 text-xs text-slate-400 font-bold px-1 rounded my-2 mx-1"
                  >
                    DONE
                  </button>
                  <div class="flex justify-between w-full">
                    <input
                      @blur="e => updateTodoDeadline(todo._id, e)"
                      class="text-xs px-1"
                      type="text"
                      :value="todo.deadline"
                    />
                    <div>
                      <el-popover
                        placement="top-start"
                        trigger="hover"
                        width="200"
                      >
                        <template #reference>
                          <button
                            class="w-2 h-2 rounded-full mr-1 opacity-0 group-hover:opacity-100 transition"
                            :class="`bg-${categories[todo.category]}-300 ${todo.category > 0 ? '!opacity-100' : ''}`"
                          ></button>
                        </template>
                        <div class="flex justify-between">
                          <div
                            v-for="(cat, index) in categories"
                            class="rounded p-1 pt-2"
                            :class="`bg-slate-${todo.category === index ? '100' : '0'}`"
                          >
                            <button
                              class="w-4 h-4 rounded-full"
                              :class="`bg-${cat}-300`"
                              @click="updateTodoCat(todo._id, index)"
                            ></button>
                          </div>
                        </div>
                      </el-popover>
                      <button
                        class="text-xs px-1 rounded text-white"
                        @click="togglePerson(todo._id, todo.person)"
                        :class="todo.person === 'WILL' ? 'bg-emerald-700' : 'bg-blue-900'"
                      >
                        {{todo.person}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <div v-for="logger in loggers" class="flex my-7 text-lg group">
              <div class="flex [&>div]:mr-4 w-[900px]">
                <div>{{logger.createdAt.substring(5,10)}}</div>
                <div
                  class="text-white px-2 rounded-xl font-bold"
                  :class="logger.person === 'WILL' ? 'bg-green-800': 'bg-blue-900' "
                >
                  {{logger.person}}
                </div>
                <div>
                  <span
                    v-for="word in logger.description?.split(' ')"
                    :class="handleWordStyle(word)"
                    >{{word + ' '}}</span
                  >
                </div>
              </div>

              <div
                class="group-hover:opacity-100 hover:bg-red-500 rounded text-white flex items-center p-1 font-bold opacity-0 transition"
                @click="deleteLogger(logger._id)"
              >
                <ion-icon
                  name="trash-outline"
                  class="cursor-pointer text-red-200 font-bold text-2xl"
                ></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer
      class="bg-black text-white w-full h-80 flex flex-col items-center justify-center mt-40"
    >
      <p class="mb-16">FOR A BETTER LIVE | ONLY LIVE ONCE</p>
      <p>WAI & WAI</p>
    </footer>
  </body>

  <script src="./index.js"></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
